# Plane Crashes Dataframe

## First I'll take a look at the dataset trough pandas

In [1]:
# I import the libraries I'll be using for the estudy and transformation of the datasets
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
planecrashes = pd.read_csv('PI03-Analytics/AccidentesAviones.csv')

In [3]:
planecrashes.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

In [4]:
planecrashes.info() # All of the columns except Unnamed: 0, which only serves as an index, are strings, when clearly most of them should be Integers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [5]:
planecrashes.drop(columns='Unnamed: 0', inplace=True) # That's why I'm dropping right away the Unnamed: 0 column

In [6]:
planecrashes.isna().sum() # It seems there are none missing values, but that's because they are inputed as '?'

fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

In [7]:
planecrashes.replace('?', None, inplace=True) # I replace the missing values with None in order to be able to count how many per column there are

In [8]:
planecrashes.isna().sum()/len(planecrashes)*100

fecha                      0.000000
HORA declarada            30.031949
Ruta                       0.099840
OperadOR                   0.199681
flight_no                 73.522364
route                     15.215655
ac_type                    0.259585
registration               5.431310
cn_ln                     13.318690
all_aboard                 0.339457
PASAJEROS A BORDO          4.412939
crew_aboard                4.373003
cantidad de fallecidos     0.159744
passenger_fatalities       4.692492
crew_fatalities            4.692492
ground                     0.878594
summary                    1.178115
dtype: float64

## With the missing values now as None, I can change the datatype of the columns

First I change the date string to datetime

In [9]:
planecrashes.fecha =  pd.to_datetime(planecrashes.fecha)

In [10]:
planecrashes.fecha

0      1908-09-17
1      1909-09-07
2      1912-07-12
3      1913-08-06
4      1913-09-09
          ...
5003   2021-03-28
5004   2021-05-21
5005   2021-06-10
5006   2021-07-04
5007   2021-07-06
Name: fecha, Length: 5008, dtype: datetime64[ns]

Now the columns that should be integers

In [11]:
columnsint = ['all_aboard', 'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities', 'crew_fatalities', 'ground']

In [12]:
planecrashes[columnsint] = planecrashes[columnsint].fillna(0) # First I need to fill the None values with 0

In [13]:
planecrashes[columnsint] = planecrashes[columnsint].astype(int) # Now I can convert the columns to dtype int

In [14]:
planecrashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   5008 non-null   datetime64[ns]
 1   HORA declarada          3504 non-null   object
 2   Ruta                    5003 non-null   object
 3   OperadOR                4998 non-null   object
 4   flight_no               1326 non-null   object
 5   route                   4246 non-null   object
 6   ac_type                 4995 non-null   object
 7   registration            4736 non-null   object
 8   cn_ln                   4341 non-null   object
 9   all_aboard              5008 non-null   int32
 10  PASAJEROS A BORDO       5008 non-null   int32
 11  crew_aboard             5008 non-null   int32
 12  cantidad de fallecidos  5008 non-null   int32
 13  passenger_fatalities    5008 non-null   int32
 14  crew_fatalities         5008 non-null   int32
 15  ground                  5008 non-null   int32
 16  summary                 4949 non-null   object
dtypes: datetime64[ns](1), int32(7), object(9)
memory usage: 528.3+ KB

## I merge my planecrashes dataframe with new datasets

To get the coordinates of most of the incidents

I got the dataset from the following link:
https://www.kaggle.com/datasets/chadmunger/plane-crashes-1908-2019

In [15]:
locations = pd.read_csv('PI03-Analytics/FinalDatasetAirplaneCrashes.csv') # I read the .csv file as a dataframe

In [16]:
locations.head(5)

,Unnamed: 0,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,...,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry
0,0,1908-09-17,17:18,Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,...,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...","Fort Myer, Virginia",38.877461,-77.080828,POINT (38.877461 -77.08082799848259)
1,1,1909-09-07,NaN,NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,...,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,"Juvisy-sur-Orge, France",48.690406,2.373809,POINT (48.6904063 2.373809)
2,2,1912-07-12,06:30,Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,...,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,"Atlantic City, New Jersey",39.364285,-74.422935,POINT (39.36428520000001 -74.42293509999998)
3,3,1913-08-06,NaN,Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,...,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,"Victoria, British Columbia, Canada",48.428318,-123.364953,POINT (48.4283182 -123.3649533)
4,4,1913-09-09,18:30,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,...,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,the North Sea,56.741234,2.891172,POINT (56.74123355 2.89117171668805)

In [17]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4967 non-null   int64
 1   Date                   4967 non-null   object
 2   Time                   3457 non-null   object
 3   Operator               4957 non-null   object
 4   Flight #               1315 non-null   object
 5   Route                  4193 non-null   object
 6   AC Type                4952 non-null   object
 7   Registration           4694 non-null   object
 8   cn/ln                  4299 non-null   object
 9   Aboard                 4949 non-null   float64
 10  Aboard Passengers      4738 non-null   float64
 11  Aboard Crew            4741 non-null   float64
 12  Fatalities             4959 non-null   float64
 13  Fatalities Passengers  4725 non-null   float64
 14  Fatalities Crew        4726 non-null   float64
 15  Ground                 4926 non-null   float64
 16  Summary                4903 non-null   object
 17  Location               4963 non-null   object
 18  Latitude               4963 non-null   float64
 19  Longitude              4963 non-null   float64
 20  geometry               4967 non-null   object
dtypes: float64(9), int64(1), object(11)
memory usage: 815.0+ KB

In [18]:
locations.isna().sum()/len(locations)*100

Unnamed: 0                0.000000
Date                      0.000000
Time                     30.400644
Operator                  0.201329
Flight #                 73.525267
Route                    15.582847
AC Type                   0.301993
Registration              5.496275
cn/ln                    13.448762
Aboard                    0.362392
Aboard Passengers         4.610429
Aboard Crew               4.550030
Fatalities                0.161063
Fatalities Passengers     4.872156
Fatalities Crew           4.852023
Ground                    0.825448
Summary                   1.288504
Location                  0.080532
Latitude                  0.080532
Longitude                 0.080532
geometry                  0.000000
dtype: float64

In [19]:
locations.drop(columns=['Unnamed: 0', 'Time', 'Operator', 'Flight #', 'Route', 'AC Type', 'Registration', 'cn/ln', 'Aboard', 'Aboard Passengers', 'Aboard Crew', 'Fatalities', 'Fatalities Passengers', 'Fatalities Crew',
                        'Ground', 'Summary', 'Location'], inplace=True) # I drop the columns that don't have information I need

In [20]:
locations.Date = pd.to_datetime(locations.Date) # I apply to it some transformations so I'll be able to merge it

In [21]:
planecrashes.rename(columns={'fecha':'Date'}, inplace=True) # I need to rename the date column 'fecha'

In [22]:
planecrashes = planecrashes.merge(locations, on='Date', how='inner') # I merge the two dataframes, gathering the location data

In [23]:
planecrashes.geometry.isna().sum() # I check if there are entries without coordinates

0

To get the category of the incident and the aircraft model

I got the dataset from the following link:
https://www.kaggle.com/datasets/deepcontractor/aircraft-accidents-failures-hijacks-dataset

In [24]:
incidents = pd.read_csv('PI03-Analytics/Aircraft_Incident_Dataset.csv')

In [25]:
incidents.head(5)

,Incident_Date,Aircaft_Model,Aircaft_Registration,Aircaft_Operator,Aircaft_Nature,Incident_Category,Incident_Cause(es),Incident_Location,Aircaft_Damage_Type,Date,...,Onboard_Crew,Onboard_Passengers,Onboard_Total,Fatalities,Aircaft_First_Flight,Aircraft_Phase,Departure_Airport,Destination_Airport,Ground_Casualties,Collision_Casualties
0,03-JAN-2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,Domestic Non Scheduled Passenger,Accident | repairable-damage,"Airplane - Engines, Airplane - Engines - Prop/...",near Venetia Mine...,Substantial,Monday 3 January 2022,...,Fatalities: 0 / Occupants: 3,Fatalities: 0 / Occupants: 4,Fatalities: 0 / Occupants: 7,0,1995-05-19 (26 years 8 months),Landing (LDG),Johannesburg-O.R. Tambo International Airport ...,"Venetia Mine Airport (FAVM) , South Africa",NaN,NaN
1,04-JAN-2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Roatán-Juan ...,Substantial,Tuesday 4 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 19,0,1985,Landing (LDG),La Ceiba-Goloson International Airport (LCE/MH...,Roatán-Juan Manuel Gálvez International Airpor...,NaN,NaN
2,05-JAN-2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,Domestic Scheduled Passenger,Accident | repairable-damage,"Airplane - Undercarriage, Airplane - Undercarr...",Isfahan-Shah...,Substantial,Wednesday 5 January 2022,...,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants:,Fatalities: 0 / Occupants: 116,0,1992-09-18 (29 years 4 months),Landing (LDG),"Mashhad Airport (MHD/OIMM) , Iran","Isfahan-Shahid Beheshti Airport (IFN/OIFM) , Iran",NaN,NaN
3,08-JAN-2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",Cargo,Accident | hull-loss,"Cargo - Fire/smoke, Result - Damaged on the gr...",Hangzhou-Xia...,Destroyed,Saturday 8 January 2022,...,Fatalities: 0 / Occupants: 8,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 8,0,2002-07-18 (19 years 6 months),Standing (STD),Hangzhou-Xiaoshan International Airport (HGH/Z...,"Novosibirsk-Tolmachevo Airport (OVB/UNNT) , Ru...",NaN,NaN
4,12-JAN-2022,Beechcraft 200 Super King Air,NaN,private,Illegal Flight,"Criminal occurrence (sabotage, shoot down) | h...",Result - Damaged on the ground,"Machakilha, ...",Damaged beyond repair,Wednesday 12 January 2022,...,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 0,Fatalities: 0 / Occupants: 0,0,NaN,Standing (STD),?,?,NaN,NaN

In [26]:
incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23519 entries, 0 to 23518
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Incident_Date         23519 non-null  object
 1   Aircaft_Model         23519 non-null  object
 2   Aircaft_Registration  21958 non-null  object
 3   Aircaft_Operator      23519 non-null  object
 4   Aircaft_Nature        23519 non-null  object
 5   Incident_Category     23519 non-null  object
 6   Incident_Cause(es)    23519 non-null  object
 7   Incident_Location     22587 non-null  object
 8   Aircaft_Damage_Type   23519 non-null  object
 9   Date                  23519 non-null  object
 10  Time                  9203 non-null   object
 11  Arit                  23519 non-null  object
 12  Aircaft_Engines       10636 non-null  object
 13  Onboard_Crew          23519 non-null  object
 14  Onboard_Passengers    23519 non-null  object
 15  Onboard_Total         23519 non-null  object
 16  Fatalities            23519 non-null  int64
 17  Aircaft_First_Flight  18031 non-null  object
 18  Aircraft_Phase        23519 non-null  object
 19  Departure_Airport     23519 non-null  object
 20  Destination_Airport   23519 non-null  object
 21  Ground_Casualties     347 non-null    object
 22  Collision_Casualties  292 non-null    object
dtypes: int64(1), object(22)
memory usage: 4.1+ MB

In [27]:
incidents.drop(columns=['Aircaft_Registration', 'Aircaft_Nature', 'Incident_Location','Incident_Cause(es)', 'Aircaft_Damage_Type', 'Date', 'Time', 'Arit', 'Aircaft_Engines', 
                        'Onboard_Crew', 'Onboard_Passengers', 'Aircaft_First_Flight', 'Aircraft_Phase', 'Departure_Airport', 'Destination_Airport', 'Ground_Casualties', 
                        'Collision_Casualties'], inplace=True) # I drop the columns that don't have information I need

In [28]:
incidents.isna().sum()/len(incidents)*100

Incident_Date        0.0
Aircaft_Model        0.0
Aircaft_Operator     0.0
Incident_Category    0.0
Onboard_Total        0.0
Fatalities           0.0
dtype: float64

In [29]:
incidents.Incident_Date = pd.to_datetime(incidents.Incident_Date, errors='coerce') # I apply to it some transformations so I'll be able to merge it
incidents.rename(columns={'Incident_Date':'Date'}, inplace=True)

In [30]:
incidents

,Date,Aircaft_Model,Aircaft_Operator,Incident_Category,Onboard_Total,Fatalities
0,2022-01-03,British Aerospace 4121 Jetstream 41,SA Airlink,Accident | repairable-damage,Fatalities: 0 / Occupants: 7,0
1,2022-01-04,British Aerospace 3101 Jetstream 31,LANHSA,Accident | repairable-damage,Fatalities: 0 / Occupants: 19,0
2,2022-01-05,Boeing 737-4H6,Caspian Airlines,Accident | repairable-damage,Fatalities: 0 / Occupants: 116,0
3,2022-01-08,Tupolev Tu-204-100C,"Cainiao, opb Aviastar-TU",Accident | hull-loss,Fatalities: 0 / Occupants: 8,0
4,2022-01-12,Beechcraft 200 Super King Air,private,"Criminal occurrence (sabotage, shoot down) | h...",Fatalities: 0 / Occupants: 0,0
...,...,...,...,...,...,...
23514,1920-02-25,Handley Page O/400,Handley Page Transport,Accident | hull-loss,Fatalities: 0 / Occupants: 4,0
23515,1920-06-30,Handley Page O/400,Handley Page Transport,Accident | hull-loss,Fatalities: 0 / Occupants: 2,0
23516,1920-12-14,Handley Page O/400,Handley Page Transport,Accident | hull-loss,Fatalities: 4 / Occupants: 8,4
23517,1919-08-02,Caproni Ca.48,Caproni,Accident | hull-loss,Fatalities: 14 / Occupants: 14,14
23518,1919-08-11,Felixstowe Fury,RAF,Accident | hull-loss,Fatalities: 1 / Occupants: 7,1

In [31]:
planecrashes = planecrashes.merge(incidents, on='Date', how='inner') # I merge the two dataframes, gathering the cause of the incident data

In [32]:
planecrashes.head(5) # There are some rows without Incident_Category data

,Date,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,...,ground,summary,Latitude,Longitude,geometry,Aircaft_Model,Aircaft_Operator,Incident_Category,Onboard_Total,Fatalities
0,1919-08-02,None,"Verona, Italy",Caproni Company,None,Venice Taliedo,Caproni Ca.48,None,None,14,...,0,As the plane was passing over Verona the wings...,45.438496,10.992412,POINT (45.4384958 10.9924122),Caproni Ca.48,Caproni,Accident | hull-loss,Fatalities: 14 / Occupants: 14,14
1,1920-12-14,1215,"London, England",Handley Page Transport,None,London - Paris,Handley Page HP-16,G-EAMA,HP-25,8,...,0,The plane failed to gain altitude after taking...,51.507322,-0.127647,POINT (51.5073219 -0.1276474),Handley Page O/400,Handley Page Transport,Accident | hull-loss,Fatalities: 4 / Occupants: 8,4
2,1922-04-07,1315,"Grandvilliers, France",Daimler Airways / Grands Express Aeriens,None,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,G-EAOW/FGEAD,4,7,...,0,A midair collision occurred at 400 ft. in poor...,49.664777,1.942828,POINT (49.6647765 1.9428278),Farman F.60 Goliath,Grands Express Aériens,Accident | hull-loss,Fatalities: 5 / Occupants: 5,5
3,1923-05-14,1342,"Near Amiens, Picrdie, France",Grands Express Aeriens (Air Union),None,Paris - London,Farman F-60 Goliath,F-AEBY,15,6,...,0,Broke-up in mid air after suffering structural...,49.899796,2.216300,POINT (49.899796 2.2163),Farman F.60 Goliath,Air Union,Accident | hull-loss,Fatalities: 6 / Occupants: 6,6
4,1923-08-27,1730,"East Mallling, United Kingdom",Air Union,None,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,F-AECB,4,11,...,0,The aircraft lost an engine about 45 minutes i...,51.188191,-2.225989,POINT (51.188191 -2.225989),Farman F.60 Goliath,Air Union,Accident | hull-loss,Fatalities: 1 / Occupants: 13,1

In [33]:
no_incident_category = planecrashes[planecrashes.Incident_Category.isna()].index
planecrashes.drop(no_incident_category, inplace=True) # I'll drop those entries with NaN values

In [34]:
planecrashes.isna().sum()/len(planecrashes)*100 # I need to drop the latitude and longitude missing data rows as well

Date                       0.000000
HORA declarada            26.776650
Ruta                       0.068333
OperadOR                   0.029285
flight_no                 71.759078
route                     15.726279
ac_type                    0.136665
registration               3.982819
cn_ln                     10.698946
all_aboard                 0.000000
PASAJEROS A BORDO          0.000000
crew_aboard                0.000000
cantidad de fallecidos     0.000000
passenger_fatalities       0.000000
crew_fatalities            0.000000
ground                     0.000000
summary                    1.171417
Latitude                   0.068333
Longitude                  0.068333
geometry                   0.000000
Aircaft_Model              0.000000
Aircaft_Operator           0.000000
Incident_Category          0.000000
Onboard_Total              0.000000
Fatalities                 0.000000
dtype: float64

In [35]:
no_latitude = planecrashes[planecrashes.Latitude.isna()].index
planecrashes.drop(no_latitude, inplace=True)

## Now I'll keep only the columns that I'm going to be using for my analysis

There's still some columns that refer to the same information, such as the number of people onboard, so I'm going to keep the ones with less missing values

In [36]:
planecrashes.columns

Index(['Date', 'HORA declarada', 'Ruta', 'OperadOR', 'flight_no', 'route',
       'ac_type', 'registration', 'cn_ln', 'all_aboard', 'PASAJEROS A BORDO',
       'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities',
       'crew_fatalities', 'ground', 'summary', 'Latitude', 'Longitude',
       'geometry', 'Aircaft_Model', 'Aircaft_Operator', 'Incident_Category',
       'Onboard_Total', 'Fatalities'],
      dtype='object')

In [37]:
planecrashes.drop(columns=['HORA declarada', 'OperadOR', 'flight_no', 'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities','crew_fatalities', 'ground', 'Ruta','route',
       'ac_type', 'registration', 'cn_ln','summary', 'Onboard_Total'], inplace=True)

I need to create now a column indicating if the crash was produced near the Bermuda Triangle or not

In [38]:
conditions = [((planecrashes.Latitude <= 35.17610823214373) & (planecrashes.Latitude >= 17.254180035019036)) & ((planecrashes.Longitude <= -61.454255013778955) & (planecrashes.Longitude >= -82.54119679493043)),
              ((planecrashes.Latitude > 35.17610823214373) & (planecrashes.Latitude < 17.254180035019036)) & ((planecrashes.Longitude > -61.454255013778955) & (planecrashes.Longitude < -82.54119679493043))]

values = ['near','far'] # 'yes' means that it's near the Bermuda Triangle and 'no' that it's not

planecrashes['Bermuda_triangle_area'] = np.select(conditions, values)
planecrashes.Bermuda_triangle_area.replace('0', 'far', inplace=True) # It put 0 instead of 'far' so I had to replace it

Now, I want a column that tells if the incident was caused by human doing or not

In [39]:
planecrashes.Incident_Category.unique() # I'll be using the Incident_Category column to determinate the conditions for the new column

array(['Accident | hull-loss', 'Accident | repairable-damage',
       'other occurrence (ground fire, sabotage) | hull-loss',
       'occurrence unknown | hull-loss',
       'Criminal occurrence (sabotage, shoot down) | repairable-damage',
       'Criminal occurrence (sabotage, shoot down) | hull-loss',
       'Hijacking | repairable-damage', 'Hijacking | hull-loss',
       'other occurrence (ground fire, sabotage) | repairable-damage',
       'Incident | repairable-damage'], dtype=object)

In [40]:
conditions = [(planecrashes.Incident_Category.isin(['other occurrence (ground fire, sabotage) | hull-loss','other occurrence (ground fire, sabotage) | repairable-damage', 'Criminal occurrence (sabotage, shoot down) | repairable-damage',
                                                'Criminal occurrence (sabotage, shoot down) | hull-loss',
                                                'Hijacking | repairable-damage', 'Hijacking | hull-loss'])),
              (planecrashes.Incident_Category.isin(['Accident | hull-loss', 'Accident | repairable-damage','occurrence unknown | hull-loss','Incident | repairable-damage']))]


values = ['yes','no'] # 'yes' means that the incident was caused by human doing and 'no' that it wasn't

planecrashes['Human_Doing'] = np.select(conditions, values)

Finally I'll create and ID column to identify each incident

In [41]:
planecrashes['Planecrash_id'] = range(0,len(planecrashes))

## Organizing the dataframe

In [42]:
planecrashes.columns

Index(['Date', 'all_aboard', 'Latitude', 'Longitude', 'geometry',
       'Aircaft_Model', 'Aircaft_Operator', 'Incident_Category', 'Fatalities',
       'Bermuda_triangle_area', 'Human_Doing', 'Planecrash_id'],
      dtype='object')

In [43]:
planecrashes = planecrashes[['Planecrash_id', 'Date','Aircaft_Model', 'Aircaft_Operator', 'Incident_Category','all_aboard','Fatalities','Latitude', 
                             'Longitude', 'geometry', 'Human_Doing', 'Bermuda_triangle_area']] # I re-order the dataframe

In [44]:
planecrashes[planecrashes.all_aboard == 0].count() # There are some entries without people onboard the plane, which can't be true, so I'll drop these few entries from the dataframe

Planecrash_id            35
Date                     35
Aircaft_Model            35
Aircaft_Operator         35
Incident_Category        35
all_aboard               35
Fatalities               35
Latitude                 35
Longitude                35
geometry                 35
Human_Doing              35
Bermuda_triangle_area    35
dtype: int64

In [45]:
no_onboard = planecrashes[planecrashes.all_aboard == 0].index
planecrashes.drop(no_onboard, inplace=True)

In [46]:
planecrashes.info() # I check if the columns are the correct dtype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10202 entries, 0 to 10243
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Planecrash_id          10202 non-null  int64
 1   Date                   10202 non-null  datetime64[ns]
 2   Aircaft_Model          10202 non-null  object
 3   Aircaft_Operator       10202 non-null  object
 4   Incident_Category      10202 non-null  object
 5   all_aboard             10202 non-null  int32
 6   Fatalities             10202 non-null  int64
 7   Latitude               10202 non-null  float64
 8   Longitude              10202 non-null  float64
 9   geometry               10202 non-null  object
 10  Human_Doing            10202 non-null  object
 11  Bermuda_triangle_area  10202 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(6)
memory usage: 996.3+ KB

In [47]:
planecrashes.Fatalities = planecrashes.Fatalities.astype(int) # I change the dtype of Fatalities from float to int

In [48]:
planecrashes.columns = map(str.lower, planecrashes.columns) # I normalize all columns names

In [49]:
planecrashes # my final dataframe

,planecrash_id,date,aircaft_model,aircaft_operator,incident_category,all_aboard,fatalities,latitude,longitude,geometry,human_doing,bermuda_triangle_area
0,0,1919-08-02,Caproni Ca.48,Caproni,Accident | hull-loss,14,14,45.438496,10.992412,POINT (45.4384958 10.9924122),no,far
1,1,1920-12-14,Handley Page O/400,Handley Page Transport,Accident | hull-loss,8,4,51.507322,-0.127647,POINT (51.5073219 -0.1276474),no,far
2,2,1922-04-07,Farman F.60 Goliath,Grands Express Aériens,Accident | hull-loss,7,5,49.664777,1.942828,POINT (49.6647765 1.9428278),no,far
3,3,1923-05-14,Farman F.60 Goliath,Air Union,Accident | hull-loss,6,6,49.899796,2.216300,POINT (49.899796 2.2163),no,far
4,4,1923-08-27,Farman F.60 Goliath,Air Union,Accident | hull-loss,11,1,51.188191,-2.225989,POINT (51.188191 -2.225989),no,far
...,...,...,...,...,...,...,...,...,...,...,...,...
10239,10232,2019-06-03,Antonov An-32,Indian AF,Accident | hull-loss,13,13,4.174020,32.834960,POINT (4.17402 32.83496),no,far
10240,10233,2019-07-30,Beechcraft B300 King Air 350i,Pakistan Army Aviation Corps,Accident | hull-loss,5,19,30.929230,74.621281,POINT (30.9292303 74.6212807),no,far
10241,10234,2019-07-30,Antonov An-72P,Equatorial Guinea AF,Accident | hull-loss,5,0,30.929230,74.621281,POINT (30.9292303 74.6212807),no,far
10242,10235,2019-07-30,Airbus A319-114,Lufthansa,Accident | hull-loss,5,0,30.929230,74.621281,POINT (30.9292303 74.6212807),no,far
10243,10236,2019-07-30,Avro RJ85,Cobham Aviation Services,Accident | repairable-damage,5,0,30.929230,74.621281,POINT (30.9292303 74.6212807),no,far

## I export the dataframe as a .csv file

In [50]:
planecrashes.to_csv('planecrashes.csv', index=False) # I do this mainly to have the final dataframe saved

In [51]:
planecrashes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10202 entries, 0 to 10243
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   planecrash_id          10202 non-null  int64
 1   date                   10202 non-null  datetime64[ns]
 2   aircaft_model          10202 non-null  object
 3   aircaft_operator       10202 non-null  object
 4   incident_category      10202 non-null  object
 5   all_aboard             10202 non-null  int32
 6   fatalities             10202 non-null  int32
 7   latitude               10202 non-null  float64
 8   longitude              10202 non-null  float64
 9   geometry               10202 non-null  object
 10  human_doing            10202 non-null  object
 11  bermuda_triangle_area  10202 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1), object(6)
memory usage: 956.4+ KB

# Storms Dataframe

First I read the dataset as a dataframe

I got the dataset from this link:
https://www.kaggle.com/datasets/christinezinkand/storms?resource=download

In [52]:
storms = pd.read_csv('PI03-Analytics/storms_updated.csv')

In [53]:
storms

,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,AL011852,1852,8,26,6,30.2,-88.6,hurricane,3,100,961,NaN,NaN
1,AL031853,1853,9,3,12,19.7,-56.2,hurricane,4,130,924,NaN,NaN
2,AL031854,1854,9,7,12,28.0,-78.6,hurricane,3,110,938,NaN,NaN
3,AL031854,1854,9,8,18,31.6,-81.1,hurricane,3,100,950,NaN,NaN
4,AL031854,1854,9,8,20,31.7,-81.1,hurricane,3,100,950,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17781,Wanda,2021,11,6,6,37.6,-38.3,tropical storm,0,45,1000,110.0,0.0
17782,Wanda,2021,11,6,12,37.2,-38.4,tropical storm,0,40,1001,100.0,0.0
17783,Wanda,2021,11,6,18,37.1,-38.0,tropical storm,0,35,1002,100.0,0.0
17784,Wanda,2021,11,7,0,37.4,-37.4,tropical storm,0,35,1003,60.0,0.0
17785,Wanda,2021,11,7,6,38.1,-36.4,tropical storm,0,35,1004,60.0,0.0

In [54]:
storms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17786 entries, 0 to 17785
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          17786 non-null  object
 1   year                          17786 non-null  int64
 2   month                         17786 non-null  int64
 3   day                           17786 non-null  int64
 4   hour                          17786 non-null  int64
 5   lat                           17786 non-null  float64
 6   long                          17786 non-null  float64
 7   status                        17786 non-null  object
 8   category                      17786 non-null  int64
 9   wind                          17786 non-null  int64
 10  pressure                      17786 non-null  int64
 11  tropicalstorm_force_diameter  6744 non-null   float64
 12  hurricane_force_diameter      6744 non-null   float64
dtypes: float64(4), int64(7), object(2)
memory usage: 1.8+ MB

In [55]:
storms.isna().sum()/len(storms)*100

name                             0.000000
year                             0.000000
month                            0.000000
day                              0.000000
hour                             0.000000
lat                              0.000000
long                             0.000000
status                           0.000000
category                         0.000000
wind                             0.000000
pressure                         0.000000
tropicalstorm_force_diameter    62.082537
hurricane_force_diameter        62.082537
dtype: float64

First I only want the data of the storms produced between the same years as the plane crashes

In [56]:
storms = storms[(storms.year >= 1919) & (storms.year <= 2019)]

I'll only keep the columns that refer to the name of the storm, the year, the status, the location and it's intensity

In [57]:
storms.columns

Index(['name', 'year', 'month', 'day', 'hour', 'lat', 'long', 'status',
       'category', 'wind', 'pressure', 'tropicalstorm_force_diameter',
       'hurricane_force_diameter'],
      dtype='object')

In [58]:
storms = storms[['name', 'year', 'lat', 'long', 'status', 'category']]

I create a column that indicates if the storm was near of far from the Bermuda Triangle

In [59]:
conditions = [((storms.lat <= 35.17610823214373) & (storms.lat >= 17.254180035019036)) & ((storms.long <= -61.454255013778955) & (storms.long >= -82.54119679493043)),
              ((storms.lat > 35.17610823214373) & (storms.lat < 17.254180035019036)) & ((storms.long > -61.454255013778955) & (storms.long < -82.54119679493043))]

values = ['near','far'] # 'yes' means that it's near the Bermuda Triangle and 'no' that it's not

storms['Bermuda_triangle_area'] = np.select(conditions, values)
storms.Bermuda_triangle_area.replace('0', 'far', inplace=True) # It put 0 instead of 'far' so I had to replace it

Finally I'll create and ID column to count each storm

In [60]:
storms['storm_id'] = range(0,len(storms))

I re-order the dataframe

In [61]:
storms.columns

Index(['name', 'year', 'lat', 'long', 'status', 'category',
       'Bermuda_triangle_area', 'storm_id'],
      dtype='object')

In [62]:
storms = storms[['storm_id', 'name','year', 'lat', 'long', 'status', 'category', 'Bermuda_triangle_area']]

In [63]:
storms.columns = map(str.lower, storms.columns) # I normalize all columns names

## I export the dataframe as a .csv file

In [64]:
storms.to_csv('storms_final.csv', index=False) # I do this mainly to have the final dataframe saved

# Conection to MySQL Database

I create the database and conect to it using SQLAlchemy

In [65]:
conection = 'mysql://root:1234@localhost:3306'
Database = 'PI03'
engine = create_engine(conection) # I connect to the server
engine.execute("CREATE DATABASE " + Database) # I create the database
engine = create_engine(conection + '/' + Database, echo=True) # I connect to the database

I export the dataframes to the database

In [66]:
planecrashes.to_sql(con=engine,name='planecrashes', if_exists='append', index=False)
storms.to_sql(con=engine,name='storms', if_exists='append', index=False)

2022-11-09 09:33:22,202 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-11-09 09:33:22,203 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 09:33:22,204 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-11-09 09:33:22,205 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 09:33:22,205 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-11-09 09:33:22,206 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 09:33:22,208 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-11-09 09:33:22,208 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ('pi03', 'planecrashes')
2022-11-09 09:33:22,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-09 09:33:22,215 INFO sqlalchemy.engine.Engine
CREATE TABLE planecrashes (
	planecrash_id BIGINT,
	date DATETIME,
	aircaft_model TEXT,
	aircaft_operator TEXT,
	incident_category TEXT,
	all_aboard INTEGER,
	fatalities INTEGER,
	latitude FLOAT(53),
	longitude FLOAT(53),
	geometry TEXT,
	human_doing TEXT,
	bermuda_triangle_area TEXT
)


2022-11-09 09:33:22,216 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2022-11-09 09:33:22,244 INFO sqlalchemy.engine.Engine COMMIT
2022-11-09 09:33:22,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-09 09:33:22,308 INFO sqlalchemy.engine.Engine INSERT INTO planecrashes (planecrash_id, date, aircaft_model, aircaft_operator, incident_category, all_aboard, fatalities, latitude, longitude, geometry, human_doing, bermuda_triangle_area) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2022-11-09 09:33:22,309 INFO sqlalchemy.engine.Engine [generated in 0.04590s] ((0, datetime.datetime(1919, 8, 2, 0, 0), 'Caproni Ca.48', 'Caproni', 'Accident | hull-loss', 14, 14, 45.4384958, 10.9924122, 'POINT (45.4384958 10.9924122)', 'no', 'far'), (1, datetime.datetime(1920, 12, 14, 0, 0), 'Handley Page O/400', 'Handley Page Transport', 'Accident | hull-loss', 8, 4, 51.5073219, -0.1276474, 'POINT (51.5073219 -0.1276474)', 'no', 'far'), (2, datetime.datetime(1922, 4, 7, 0, 0), 'Farman F.60 Goliath', 'Grands Express Aériens', 'Accident | hull-loss', 7, 5, 49.6647765, 1.9428278, 'POINT (49.6647765 1.9428278)', 'no', 'far'), (3, datetime.datetime(1923, 5, 14, 0, 0), 'Farman F.60 Goliath', 'Air Union', 'Accident | hull-loss', 6, 6, 49.899796, 2.2163, 'POINT (49.899796 2.2163)', 'no', 'far'), (4, datetime.datetime(1923, 8, 27, 0, 0), 'Farman F.60 Goliath', 'Air Union', 'Accident | hull-loss', 11, 1, 51.188191, -2.225989, 'POINT (51.188191 -2.225989)', 'no', 'far'), (5, datetime.datetime(1923, 8, 27, 0, 0), 'Farman F.60 Goliath', 'Air Union', 'Accident | hull-loss', 11, 1, 44.4361414, 26.1027202, 'POINT (44.4361414 26.1027202)', 'no', 'far'), (6, datetime.datetime(1923, 8, 27, 0, 0), 'Farman F.60 Goliath', 'Air Union', 'Accident | hull-loss', 2, 1, 51.188191, -2.225989, 'POINT (51.188191 -2.225989)', 'no', 'far'), (7, datetime.datetime(1923, 8, 27, 0, 0), 'Farman F.60 Goliath', 'Air Union', 'Accident | hull-loss', 2, 1, 44.4361414, 26.1027202, 'POINT (44.4361414 26.1027202)', 'no', 'far')  ... displaying 10 of 10202 total bound parameter sets ...  (10235, datetime.datetime(2019, 7, 30, 0, 0), 'Airbus A319-114', 'Lufthansa', 'Accident | hull-loss', 5, 0, 30.9292303, 74.6212807, 'POINT (30.9292303 74.6212807)', 'no', 'far'), (10236, datetime.datetime(2019, 7, 30, 0, 0), 'Avro RJ85', 'Cobham Aviation Services', 'Accident | repairable-damage', 5, 0, 30.9292303, 74.6212807, 'POINT (30.9292303 74.6212807)', 'no', 'far'))
2022-11-09 09:33:22,754 INFO sqlalchemy.engine.Engine COMMIT
2022-11-09 09:33:22,766 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-11-09 09:33:22,767 INFO sqlalchemy.engine.Engine [cached since 0.5599s ago] ('pi03', 'storms')
2022-11-09 09:33:22,769 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-09 09:33:22,770 INFO sqlalchemy.engine.Engine
CREATE TABLE storms (
	storm_id BIGINT,
	name TEXT,
	year BIGINT,
	lat FLOAT(53),
	`long` FLOAT(53),
	status TEXT,
	category BIGINT,
	bermuda_triangle_area TEXT
)


2022-11-09 09:33:22,770 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2022-11-09 09:33:22,785 INFO sqlalchemy.engine.Engine COMMIT
2022-11-09 09:33:22,789 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-09 09:33:22,848 INFO sqlalchemy.engine.Engine INSERT INTO storms (storm_id, name, year, lat, `long`, status, category, bermuda_triangle_area) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2022-11-09 09:33:22,850 INFO sqlalchemy.engine.Engine [generated in 0.04961s] ((0, 'AL011919', 1919, 29.9, -86.9, 'tropical storm', 0, 'far'), (1, 'AL011919', 1919, 30.4, -87.0, 'tropical storm', 0, 'far'), (2, 'AL021919', 1919, 24.6, -82.8, 'hurricane', 4, 'far'), (3, 'AL021919', 1919, 24.6, -82.9, 'hurricane', 4, 'far'), (4, 'AL021919', 1919, 26.2, -88.0, 'hurricane', 3, 'far'), (5, 'AL021919', 1919, 26.5, -90.0, 'hurricane', 4, 'far'), (6, 'AL021919', 1919, 26.5, -91.0, 'hurricane', 4, 'far'), (7, 'AL021919', 1919, 27.2, -96.6, 'hurricane', 3, 'far')  ... displaying 10 of 16501 total bound parameter sets ...  (16499, 'Sebastien', 2019, 36.6, -38.5, 'tropical storm', 0, 'far'), (16500, 'Sebastien', 2019, 38.2, -34.7, 'tropical storm', 0, 'far'))
2022-11-09 09:33:23,285 INFO sqlalchemy.engine.Engine COMMIT

16501

I need to change the planecrashes date column to get only the dates without the timestamp

In [143]:
engine.execute('USE '+ Database)
engine.execute('ALTER TABLE planecrashes MODIFY `date` DATE')

2022-11-08 18:10:23,103 INFO sqlalchemy.engine.Engine USE PI03
2022-11-08 18:10:23,104 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-08 18:10:23,106 INFO sqlalchemy.engine.Engine ALTER TABLE planecrashes MODIFY `date` DATE
2022-11-08 18:10:23,107 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-08 18:10:23,277 INFO sqlalchemy.engine.Engine COMMIT